td {
    text-align: center;
    width: 120px;
  }
  
  
  #titulo_tabela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #nomes_colunas {
    border: 1px solid;
  }
  
  #tabela {
    align-items: center;
    padding: 10px;
    color: white;
  }
  
  #titulo {
    font-weight: bold;
    font-size: 24px;
    margin-top: 70px;
    color: white;
  }
  
  #tabelaBody {
    margin: 20px;
  }

  /* Estilizando a tabela */
#resultado1 table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#resultado1 th, #resultado1 td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

/* Estilizando a tabela de amortização */
#resultado2 table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#resultado2 th, #resultado2 td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}
